<div style='height:120px;background-color:#F7575D;text-align:center'>
  <h1 style='font-family:Monserrat;color:white'>Welcome to the Ready Rooms</h1>
  <p style='font-family:Ysabeau Office;font-size:24px'>The best place for professional performers to prepare</p>
</div>